body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    color: #333;
}
header {
    background-color: #6a0dad;
    color: white;
}
.navbar-brand, .nav-link {
    color: white;
}
.nav-link.active {
    font-weight: bold;
}
.navbar-nav .dropdown-menu {
    background-color: #6a0dad;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: #5a00c0;
}
main {
    flex: 1;
    padding: 20px 0;
}
.product-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.product-card img {
    max-width: 100%;
    border-radius: 10px;
}
.product-card .btn {
    background-color: #6a0dad;
    color: white;
    border: none;
}
.product-card .btn:hover {
    background-color: #5a00c0;
}
footer {
    background-color: #6a0dad;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.carousel-item {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/img/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 10px; /* Añadir padding para asegurar que el texto no se salga */
    width: 90%; /* Ajustar el ancho para pantallas pequeñas */
    box-sizing: border-box; /* Asegurar que el padding no aumente el tamaño total del contenedor */
}

/* Reducir el tamaño del texto en pantallas pequeñas */
@media (max-width: 576px) {
    .carousel-caption h2 {
        font-size: 1.5rem;
    }

    .carousel-caption span {
        font-size: 1rem;
    }
}

/* Ajustes adicionales para mejorar la responsividad */
@media (max-width: 768px) {
    .carousel-caption h2 {
        font-size: 2rem;
    }

    .carousel-caption span {
        font-size: 1.25rem;
    }
}